<header class="top-bar">

  <div class="logo-title">
  <a routerLink="/visao-geral" class="logo-title-link"> <img src="/logo-unifor-branco.png" alt="Logo Gestão Esportiva" class="logo" />
    <span class="title">GestãoEsportiva</span> </a>
</div>

  

  <div class="nav-actions">
    <nav class="nav-menu">
    <a routerLink="/visao-geral" class="nav-link">Visão Geral</a>
    <a routerLink="/aluno/carteira"     class="nav-link">Carteira</a>
    <a routerLink="/aluno/horarios"     class="nav-link">Horários</a>
    </nav>
  </div>
</header>