<div class="validar-carteiras-container">
  <h2>Requisições: Validar carteiras</h2>

  <ul class="lista-requisicoes">
    <li class="requisicao-item">
      <a [routerLink]="['/funcionario/validar-carteiras', 1]"> <span>Nome: Fulano de Tal</span>
        <span>Data da requisição: 25/05/2025</span>
      </a>
    </li>

    <li class="requisicao-item">
       <a [routerLink]="['/funcionario/validar-carteiras', 2]"> <span>Nome: Ciclana da Silva</span>
        <span>Data da requisição: 24/05/2025</span>
      </a>
    </li>

     <li class="requisicao-item">
       <a [routerLink]="['/funcionario/validar-carteiras', 3]"> <span>Nome: Beltrano Souza</span>
        <span>Data da requisição: 23/05/2025</span>
      </a>
    </li>
    </ul>

</div>