<div class="tela-cadastro-ou-login">
  <div class="lado-esquerdo">
    <div class="logo-container">
      <img src="/logo.png" alt="Logo Gestão Esportiva" class="logo" />
      <h1 class="titulo">GestãoEsportiva</h1>
    </div>

    <div class="botoes-container">
      <div class="pergunta">Já tem cadastro?</div>
      <button routerLink="/login" class="botao-primario">Login</button>

      <div class="pergunta">É novo usuário?</div>
      <button routerLink="/cadastro" class="botao-secundario">Cadastrar</button>
    </div>
  </div>

  <div class="imagem-lateral">
    <img src="/illustration.png" alt="Ilustração" />
  </div>
</div>