<header class="funcionario-top-bar">
  <div class="menu-icon-container">
    <button class="menu-button" aria-label="Abrir menu" (click)="onMenuButtonClick()"> <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
      </svg>
    </button>
  </div>

  <div class="logo-title-container">
    <a routerLink="/funcionario" class="logo-title-container"> <img src="/logo-unifor-branco.png" alt="Logo" class="logo" />
    <span class="title">GestãoEsportiva</span>
    </a>
  </div>
  <div class="nav-actions">
    <nav class="nav-menu">
      <a routerLink="/**" class="nav-link">Sair</a>
    </nav>
  </div>
</header>